
  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
   
  }
  
  button.accordion {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  button.accordion:after {
    content: '\f078';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
    margin-top: -28px;
  }
  
  button.accordion.is-open:after {
    content: '\f077';
  }
  
  button.accordion:hover, button.accordion.is-open {
    background-color: #ddd;
  }
  
  .accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 5px 2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

.upper-head, .head {
    display: flex;
    justify-content: center;
}

.head {
    padding: 48px 24px 24px;
    background-color: #866EC7;
}

.upper-head h1 {
    color: #000000;
    font-size: 28px;
    margin: 0px 0px 48px;
    padding: 0px 0px 24px;
}

.head h3 {
    padding: 20px;
    font-size: 28px;
    color: white;
    margin: 0px 0px 8px
}

.accordion-content {
    padding: 18px;
}

.button-head {
    padding: 25px 0px  20px;
    margin-bottom: -10px;
}

span {
    font-size: 18px;
}